.img{
    width: 50px;
    padding-left: 20px;
    padding-top: 20px;
}

.card {
    max-width: 180px;
    align-items: center;
}

.div-ext{
    background-color: white;
    padding-left: 250px;
    padding-top: 10px;
}

.button{
    background-color: gray;
    width: 100%;
}